body {
    background-image: url('/static/images/background.jpg');
    overflow: hidden;
}

#orbit {
    position: absolute;
    top: 50%; left: 50%;
    margin-left: -350px;
    width: 700px;
    animation: spin 14s infinite linear;
}

#audioMenu {
    position: absolute;
    bottom: 0%;
    left: 0%;
    color: white;
}

#earthContainer {
    position: absolute;
    margin-left: 200px; 
    margin-top: -150px;
}

#earth {
    width: 300px;
}

#earthCtl[type="checkbox"] {
    opacity: 0;
}

#earthCtl:checked ~ label > #earth {
    animation: wiggle 1s linear;
}

#alienContainer {
    margin-right: 60px;
}

#alien {
    position: absolute;
    right: 0px; top: -50px;
    height: 100px;
    animation: spin 2s infinite linear;
    z-index: 1;
}

#alienCtl[type="checkbox"] {
    opacity: 0;
}

#alienCtl:checked ~ label > #alien {
    opacity: 0;
}

#explosion {
    position: absolute;
    right: -20px; top: -75px;
    height: 150px;
    opacity: 0;
    z-index: 2;
}

#comet {
    position: absolute;
    width: 120px;
    top: 0%; left: -20%;
 }

#ufo {
    position: absolute;
    width: 100px;
    top: 0%; left: 105%;
}

#astronaut {
    position: absolute;
    width: 60px;
    top: 50%; left: 50%;
    margin-top: -35px; margin-left: -30px;
}

.wiggle-animation {
    animation: wiggle 1s linear;
}

@keyframes wiggle { 
    0% { transform: skewX(9deg); } 
    10% { transform: skewX(-8deg); } 
    20% { transform: skewX(7deg); } 
    30% { transform: skewX(-6deg); } 
    40% { transform: skewX(5deg); } 
    50% { transform: skewX(-4deg); } 
    60% { transform: skewX(3deg); } 
    70% { transform: skewX(-2deg); } 
    80% { transform: skewX(1deg); } 
    90% { transform: skewX(0deg); } 
    100% { transform: skewX(0deg); } 
}

.comet-animation {
    animation: comet 8s linear;
}

@keyframes comet {
    0% {
        transform: rotate(-10deg);
        top: 0%; left: -20%;
    }
    
    80% {
        opacity: 1;
    }

    100% {
        top: 80%; left: 105%;
        opacity: 0;
    }
}

.ufo-animation {
    animation: ufo 4s linear;
}

@keyframes ufo {
    0% {
        top: 0%; left: 105%;
        transform: skewX(10deg) rotate(-15deg);
    }

    20% {
        transform: skewX(-10deg);
    }

    40% {
        transform: skewX(10deg) rotate(15deg);
    }

    60% {
        transform: skewX(-10deg);
    }

    80% {
        transform: skewX(10deg) rotate(-15deg);
    }

    100% {
        transform: skewX(-10deg);
        top: 100%; left: -20%;
    }
}

.astronaut-animation {
    animation: astronaut 16s linear;
}

@keyframes astronaut {
    0% {
        left: 50%;
        transform: rotate(0deg);
    }

    25% {
        left: 20%;
    }

    75% {
        left: 20%;
    }

    100% {
        left: 50%;
        transform: rotate(-980deg);
    }
}