body {
    background-image: url('/static/images/background.jpg');
    overflow: hidden;
}

#orbit {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-top: -86px;
    margin-left: -350px;
    width: 700px;
    animation: spin 10s infinite linear;
}

#earth {
    position: absolute;
    margin-top: -75px;
    margin-left: 200px; 
    width: 300px;
    transform: translateZ(0px);
}

#earth:hover {
    animation: wiggle 1s linear;
}

#alien {
    position: relative;
    float: right;
    margin-right: 60px;
    height: 100px;
    animation: spin 2s infinite linear;
}

 #comet {
    position: absolute;
    width: 120px;
    top: 0%;
    left: -20%;
    animation: comet 40s infinite linear;
 }

 #ufo {
    position: absolute;
    width: 100px;
    top: 0%;
    left: 105%;
    animation: ufo 27s infinite linear;
 }

 @keyframes wiggle { 
     0% { transform: skewX(9deg); } 
     10% { transform: skewX(-8deg); } 
     20% { transform: skewX(7deg); } 
     30% { transform: skewX(-6deg); } 
     40% { transform: skewX(5deg); } 
     50% { transform: skewX(-4deg); } 
     60% { transform: skewX(3deg); } 
     70% { transform: skewX(-2deg); } 
     80% { transform: skewX(1deg); } 
     90% { transform: skewX(0deg); } 
     100% { transform: skewX(0deg); } 
  }

 @keyframes comet {
    0% {
        transform: translateZ(20), rotate(-10deg); top: 0%; left: -20%;
    }
    
    20% {
        top: 80%; left: 105%;
    }

    100% {
        transform: translateZ(20), rotate(-10deg); top: 80%; left: 105%;
    }
 }

 @keyframes ufo {
    0% {
        transform: translateZ(-20);
        top: 0%; left: 105%;
    }
    
    60% {
        top: 0%; left: 105%;
        transform: skewX(10deg);
    }

    62% {
        transform: skewX(-10deg);
    }

    64% {
        transform: skewX(10deg);
    }

    66% {
        transform: skewX(-10deg);
    }

    68% {
        transform: skewX(10deg);
    }

    70% {
        transform: skewX(-10deg);
        top: 80%; left: -20%;
    }

    100% {
        transform: translateZ(-20);
        top: 80%; left: -20%;
    }
 }